<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMedicos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50386/Medicos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMedicos" contract="MedicoWS.IMedicos"
                name="BasicHttpBinding_IMedicos" />
        </client>
    </system.serviceModel>
</configuration>